[Unit]
Description=mako notifications tester

[Service]
Type=oneshot
ExecStart=%h/.local/share/hyprcore/scripts/bin/hyprcore-reload-notifications

[Install]
WantedBy=graphical-session.target
