[Unit]
Description=mkao notifications tester

[Service]
Type=oneshot
ExecStart=/var/hyprcore/scripts/mako/reload.sh

[Install]
WantedBy=graphical-session.target
